body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.9)), url('background_image.jpg'); */
    /* background: linear-gradient(to right, rgba(254, 168, 249, 0.9), rgb(131, 107, 250), rgba(254, 168, 249, 0.9)), url('background_image.jpg'); */ */
    /* background: linear-gradient(to right, rgba(227, 149, 81, 0.9), rgb(124, 68, 46), rgba(227, 117, 76, 0.9)), url('background_image.jpg');
    /* background:url('background_image.jpg'); */
    background-size: cover;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: linear-gradient(to right, #f7b709, white);
    color:#000000;
    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
header span{
    width:100%;
    color:#811313;
    font-weight: bold;
    text-justify: distribute;

}
.logo-container {

    /* background-color: #ffffff; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    width: 196.725px;
    text-align: center;
    justify-content:space-between; /* Set width to match the #navbar width */
}
.logo-container img {
    max-width: 30px;
}
.title-container{
    align-items: center;
    flex-grow: 1;
}
.logo-container p{
    margin-bottom: 0;
    margin-top:0;
}



footer {
    background-color: #811313;
    color: #fff;
    text-align: center;
    padding:5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
}

.footer-left a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
}

.footer-left a i {
    margin-right: 5px;
}

.footer-right {
    flex-grow: 1;
}

.navbar {
    position: fixed;
    top:67.025px;
    left: 0;
    background-color: #333;
    padding: 10px;
    color: #fff;
    /* width: 200px; */
    height: calc(100% - 144.2125px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    #navbar {
        width: 200px;
        height:auto; /* Change height to auto for smaller screens */
    }
}

.navbar a {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: medium;
}

.navbar a i {
    margin-right: 10px; /* Add space between icon and text */
}

.navbar a span {
    flex-grow: 1;
    /* text-align: center; */
}

.navbar a:hover {
    background-color: #777777;
}

.content {
    margin-left: 220px;
    padding: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}
#content-box{
    margin-top: 67.025px;
    background-color: rgba(210, 210, 210, 0.5); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    border-radius: 20px; /* Rounded corners */
    padding: 20px;
    opacity:1;
}

#contact {
    margin-top: 20px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    gap: 20px;
    animation: slideIn 1s ease-out forwards; /* Apply slideIn animation */
}

.contact-box {
    background-color: #ffffff83;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1; /* Make the boxes flexible to occupy equal space */
    opacity: 1; /* Initially hide the boxes */
}

.contact-box:nth-child(2) {
    animation-delay: 1s; /* Delay animation for the second box */
}

.contact-box h3 {
    margin-top: 0;
    color:#000000
}
.contact-box p {
    margin-bottom: 10px; /* Add bottom margin for paragraphs */
}
.contact-box address {
    margin: 10px 0;
    font-style: normal;
}

.contact-box address a {
    color: #007bff;
    text-decoration: none;
}

.contact-box address a:hover {
    text-decoration: underline;
}

/* CSS for contact information tables */
.contact-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.contact-info th,
.contact-info td {
    padding: 8px;
    text-align: center; /* Center-align the content */
    border-bottom: 1px solid #ddd;
    width: 25%;
}

.contact-info th {
    background-color: #f2f2f2;
}

.contact-info tr:hover {
    background-color: #f2f2f2;
}

/* Define slideIn animation */
@keyframes slideIn {
    from {
        opacity: 0; /* Start with opacity 0 */
        transform: translateY(50px); /* Move boxes down by 50px */
    }
    to {
        opacity: 1; /* Show boxes */
        transform: translateY(0); /* Move boxes to their original position */
    }
}
/* #logout {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#security {
    position: fixed;
    bottom: 10px;
    right: 10px;
} */
